* text=auto eol=lf
*.py text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.cfg text eol=lf
*.ini text eol=lf
*.jinja text eol=lf
*.cmd text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.whl binary
*.gz binary
