from __future__ import annotations

APP_DISPLAY_NAME = "{{ project_name }}"
APP_VERSION = "{{ project_version }}"
DEFAULT_LOG_FILENAME = "{{ package_name }}.log"
DEFAULT_LOG_MAX_BYTES = 1_048_576
DEFAULT_LOG_BACKUP_COUNT = 3
